#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;
}

header input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.showColors tr:nth-child(odd) {
    background-color: #333;
}

.showColors tr:nth-child(even) {
    background-color: #555;
}

.pointer {
    cursor: pointer;
}
